# Assignment 9 - The Team, The Team, The Team
Let's try a bit of team building! This assignment can be done in arbitrary sized groups as big as the whole class. It's going to require flexing some skills and being independent, but I've got confidence in you! The lecture time on Thursday November 12th will be devoted to working on this assignment in breakout groups, but it's up to __you as a class__ to self organize.

Don't want to share? No problem, you can do this in smaller groups too, just remember to list the names of everyone who was involved and hand in one copy by the deadline please!

The names and uniquenames of the people who worked on this submission were:
* Name, uniquename
* Name, uniquename
* Name, uniquename
* Name, uniquename
* Name, uniquename
* Name, uniquename
* Name, uniquename

## Question 1 - 50%
Scape one or more websites to build a list of the men's football (2019) and women's softball (2018-2019) games played in the thie Big Ten. This data needs to be turned into a database with three tables:
1. __Matches__: a table which describes the matches such as when and where they happened, the teams which played, the results of the match. Basically, I want the data from these sites:
* https://bigten.org/stats.aspx?path=football&year=2019#results
* https://bigten.org/confstandings.aspx/2018-19/soft?path=softball#standings
* https://bigten.org/confschedule.aspx/2018-19/soft?path=softball

2. __Plays__: for football, I'd like a table which describes who scored, and when, which should include a time, the team which scored, and so forth. Basically, I want the data from this site: 
* https://bigten.org/boxscore.aspx?id=r8jpms5mt9YevtitGgQBy0ei0qXBGKLTtZjhwPYJuA0PKfPkGJBtbwMLxCqWiCQNRUwEQ6PljW0jmgJb%2fgercesJ7CrNhXcHB14V5csY8AzyrdfPfeeoo8xrXAxNEkdv&path=football

3. __Universities__: a table which describes the universities which have teams in the sports. The pertinent numbers I'm interested in are the location of the university (state and geo-coordinates), when it was established, the endowment, and the number of students. You can get this kind of information from the right hand box in wikipedia, e.g.:
* https://en.wikipedia.org/wiki/University_of_Michigan

All of this should be loaded into a database where the `Matches` table has foreign keys into the `Universities` table and the `Plays` table (for football) has foreign keys into the `Matches` table.

Tips:
* __Divide and conquer__: You have the whole class as a team, think about the scraping of the two sports as well as the plays and university details as separate tasks.
* __Keep it simple__: You need to get the info neccessary to answer a few queries (below), nothing more. Don't try and build a whole content management system.
* __Many ways to skin a cat__: There are several tools you can use to accomplish this, including:
  * `pd.read_html` to turn HTML into `DataFrame`
  * `DataFrame.to_sql` to turn `DataFrame` into SQL stables
  * selenium (hard but comprehensive) or beautiful soup/requests (moderate) or even scrapy to scrape data
  * save pages to local files and work on those files (this is fine!)

In [4]:
!curl "https://bigten.org/confstandings.aspx/2018-19/soft?path=softball#standings/" -o --'Softball2018-2019_SCHEDULE-test.html'
!curl "https://bigten.org/confstandings.aspx/2018-19/soft?path=softball#standings#results" -o --'Softball2018-2019-RESULTS-test.html'

/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found

In [1]:
import pandas as pd
import numpy as np

SB_Results = pd.read_html('BigTen_Softball_results-test.html')
SB_Sched = pd.read_html('SB_Standings-test.html')
#FB_Match =pd.read_html('--MFootBall_MATCHES.html')
#FB_Plays =pd.read_html('--MFootBall_Plays.html')
#Umich_wiki =pd.read_html('--Umichwiki.html')
lst = [SB_Results,SB_Sched]

In [2]:
df1 = SB_Sched[0].drop(columns=['Unnamed: 3', 'Unnamed: 4'])

In [3]:
df1.head()

           Date                              Game        Location
0  Feb. 8, 2019             Indiana 9, Virginia 1  Boca Raton, FL
1           NaN  Michigan 4, North Carolina St. 3       Tampa, FL
2           NaN              Wisconsin 9, Omaha 1    Houston, TX.
3           NaN          Maryland 6, Murray St. 3        Troy, AL
4           NaN      Indiana 2, Bethune-Cookman 1  Boca Raton, FL

In [5]:
df2 = df1['Game'].str.split(', ', expand=True).rename(columns={0:'Team 1', 1:'Team 2'})
df3 = pd.concat([df1, df2], axis=1, sort=False)
team1result = df3['Team 1'].str.split('( [0-9]+)', expand=True).rename(columns={1:'Team 1 Result'})['Team 1 Result']
team2result = df3['Team 2'].str.split('( [0-9]+)', expand=True).rename(columns={1:'Team 2 Result'})['Team 2 Result']
df4 = pd.concat([df3, team1result, team2result], axis=1, sort=False)
df4['Team 1'] = df4['Team 1'].str.replace(' \d+', '')
df4['Team 2'] = df4['Team 2'].str.replace(' \d+', '')
df4 = df4.drop(columns=['Game'])
df4['Date'] = df4['Date'].fillna(method='ffill')

In [8]:
df4.head()

,Date,Location,Team 1,Team 2,Team 1 Result,Team 2 Result
0,"Feb. 8, 2019","Boca Raton, FL",Indiana,Virginia,9,1
1,"Feb. 8, 2019","Tampa, FL",Michigan,North Carolina St.,4,3
2,"Feb. 8, 2019","Houston, TX.",Wisconsin,Omaha,9,1
3,"Feb. 8, 2019","Troy, AL",Maryland,Murray St.,6,3
4,"Feb. 8, 2019","Boca Raton, FL",Indiana,Bethune-Cookman,2,1

## Question 2 - 15%
For Football, calculate the average number of points per match per team

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Question 3 - 15%
Which university has the highest combined rank for the softball and football pair? A university is ranked 1 if they have the highest number of wins to losses (count ties as both ranked the same), ranked 2 if they have the second highest win to loss ratio and so forth. The combined rank is equivilent to the universities rank in both sports added together after they have been normalized based on the number of teams available.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Question 4 - 20%
Is bigger better? Calculate the correlation between the rank of number of students at the institution and the rank of the football team. Does having more students increase chances of success?

Fee free to use Kendall's $\tau$ for this using [https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kendalltau.html]

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()