# Assignment 9 - The Team, The Team, The Team
Let's try a bit of team building! This assignment can be done in arbitrary sized groups as big as the whole class. It's going to require flexing some skills and being independent, but I've got confidence in you! The lecture time on Thursday November 12th will be devoted to working on this assignment in breakout groups, but it's up to __you as a class__ to self organize.

Don't want to share? No problem, you can do this in smaller groups too, just remember to list the names of everyone who was involved and hand in one copy by the deadline please!

The names and uniquenames of the people who worked on this submission were:
* Name, uniquename
* Name, uniquename
* Name, uniquename
* Name, uniquename
* Name, uniquename
* Name, uniquename
* Name, uniquename

## Question 1 - 50%
Scape one or more websites to build a list of the men's football (2019) and women's softball (2018-2019) games played in the thie Big Ten. This data needs to be turned into a database with three tables:
1. __Matches__: a table which describes the matches such as when and where they happened, the teams which played, the results of the match. Basically, I want the data from these sites:
* https://bigten.org/stats.aspx?path=football&year=2019#results
* https://bigten.org/confstandings.aspx/2018-19/soft?path=softball#standings
* https://bigten.org/confschedule.aspx/2018-19/soft?path=softball

2. __Plays__: for football, I'd like a table which describes who scored, and when, which should include a time, the team which scored, and so forth. Basically, I want the data from this site: 
* https://bigten.org/boxscore.aspx?id=r8jpms5mt9YevtitGgQBy0ei0qXBGKLTtZjhwPYJuA0PKfPkGJBtbwMLxCqWiCQNRUwEQ6PljW0jmgJb%2fgercesJ7CrNhXcHB14V5csY8AzyrdfPfeeoo8xrXAxNEkdv&path=football

3. __Universities__: a table which describes the universities which have teams in the sports. The pertinent numbers I'm interested in are the location of the university (state and geo-coordinates), when it was established, the endowment, and the number of students. You can get this kind of information from the right hand box in wikipedia, e.g.:
* https://en.wikipedia.org/wiki/University_of_Michigan

All of this should be loaded into a database where the `Matches` table has foreign keys into the `Universities` table and the `Plays` table (for football) has foreign keys into the `Matches` table.

Tips:
* __Divide and conquer__: You have the whole class as a team, think about the scraping of the two sports as well as the plays and university details as separate tasks.
* __Keep it simple__: You need to get the info neccessary to answer a few queries (below), nothing more. Don't try and build a whole content management system.
* __Many ways to skin a cat__: There are several tools you can use to accomplish this, including:
  * `pd.read_html` to turn HTML into `DataFrame`
  * `DataFrame.to_sql` to turn `DataFrame` into SQL stables
  * selenium (hard but comprehensive) or beautiful soup/requests (moderate) or even scrapy to scrape data
  * save pages to local files and work on those files (this is fine!)

In [1]:
#Run In Terminal"
#sudo apt-get update; sudo apt-get install curl

In [2]:
# Run in notebook:
#!pip install geopandas
#!pip install geopy

In [3]:
# Do not run Files already Generated
#!curl "https://bigten.org/confstandings.aspx/2018-19/soft?path=softball#standings/" -o 'SB_StandingsXXX_DEL.html'
#!curl "https://bigten.org/confstandings.aspx/2018-19/soft?path=softball#standings#results" -o 'BigTen_Softball_resultsXXX_DEL.html'
#!curl "https://en.wikipedia.org/wiki/University_of_Michigan" -o --'Umichwiki.html'
#!curl "https://en.wikipedia.org/wiki/Indiana_University_Bloomington" -o --'IndianaUwiki.html'
#!curl "https://en.wikipedia.org/wiki/University_of_Maryland,_College_Park" -o --'Umarylandwiki.html'
#!curl "https://en.wikipedia.org/wiki/Michigan_State_University" -o --'Michstatewiki.html'
#!curl "https://en.wikipedia.org/wiki/Ohio_State_University" -o --'Ohiostatewiki.html'
#!curl "https://en.wikipedia.org/wiki/Pennsylvania_State_University" -o --'Pennstatewiki.html'
#!curl "https://en.wikipedia.org/wiki/Rutgers_University–New_Brunswick" -o --'Rutgerswiki.html'
#!curl "https://en.wikipedia.org/wiki/University_of_Illinois_at_Urbana–Champaign" -o --'Uillinoiswiki.html'
#!curl "https://en.wikipedia.org/wiki/University_of_Iowa" -o --'Uiowawiki.html'
#!curl "https://en.wikipedia.org/wiki/University_of_Minnesota" -o --'Uminnesotawiki.html'
#!curl "https://en.wikipedia.org/wiki/University_of_Nebraska–Lincoln" -o --'Unebraskawiki.html'
#!curl "https://en.wikipedia.org/wiki/Northwestern_University" -o --'Northwesternwiki.html'
#!curl "https://en.wikipedia.org/wiki/Purdue_University" -o --'Purduewiki.html'
#!curl "https://en.wikipedia.org/wiki/University_of_Wisconsin–Madison" -o --'Uwiscowiki.html'
#!curl "http://www.espn.com/college-football/conferences/schedule/_/id/5/year/2019" -o 'espn_data.html'
#!curl "https://www.espn.com/college-football/boxscore/_/id/401112229" -o "espn_boxscore.html"
#!curl "https://bigten.org/stats.aspx?path=football&year=2019" -o "bigten_data.html"
#!curl "https://bigten.org/stats.aspx?path=football&year=2019#results" -o --'MFootBall_MATCHES.html'

# SoftBall Team Database Code

In [3]:
import pandas as pd
import numpy as np

SB_Results = pd.read_html('BigTen_Softball_results.html')
SB_Sched = pd.read_html('SB_Standings.html')
lst = [SB_Results,SB_Sched]

In [4]:
df1 = SB_Sched[0].drop(columns=['Unnamed: 3', 'Unnamed: 4'])

In [5]:
df1.head(2)

           Date                              Game        Location
0  Feb. 8, 2019             Indiana 9, Virginia 1  Boca Raton, FL
1           NaN  Michigan 4, North Carolina St. 3       Tampa, FL

In [6]:
df2 = df1['Game'].str.split(', ', expand=True).rename(columns={0:'Team 1', 1:'Team 2'})
df3 = pd.concat([df1, df2], axis=1, sort=False)
team1result = df3['Team 1'].str.split('( [0-9]+)', expand=True).rename(columns={1:'Team 1 Result'})['Team 1 Result']
team2result = df3['Team 2'].str.split('( [0-9]+)', expand=True).rename(columns={1:'Team 2 Result'})['Team 2 Result']
df4 = pd.concat([df3, team1result, team2result], axis=1, sort=False)
df4['Team 1'] = df4['Team 1'].str.replace(' \d+', '')
df4['Team 2'] = df4['Team 2'].str.replace(' \d+', '')
df4 = df4.drop(columns=['Game'])
df4['Date'] = df4['Date'].fillna(method='ffill')

softB_df = df4.copy()

In [7]:
softB_df

,Date,Location,Team 1,Team 2,Team 1 Result,Team 2 Result
0,"Feb. 8, 2019","Boca Raton, FL",Indiana,Virginia,9,1
1,"Feb. 8, 2019","Tampa, FL",Michigan,North Carolina St.,4,3
2,"Feb. 8, 2019","Houston, TX.",Wisconsin,Omaha,9,1
3,"Feb. 8, 2019","Troy, AL",Maryland,Murray St.,6,3
4,"Feb. 8, 2019","Boca Raton, FL",Indiana,Bethune-Cookman,2,1
5,"Feb. 8, 2019","Baton Rouge, La.",Iowa,Bucknell,5,3
6,"Feb. 8, 2019","Houston, TX",Illinois,Oklahoma St.,7,4
7,"Feb. 8, 2019","Orlando, FL",Ohio State,George Mason,7,0
8,"Feb. 8, 2019","Houston, TX.",Wisconsin,Lamar,8,0
9,"Feb. 8, 2019","Fullerton, CA",Northwestern,Utah St.,12,0
10,"Feb. 8, 2019","Macon, GA",Jacksonville St.,Rutgers,11,2
11,"Feb. 8, 2019","Houston, TX",Illinois,Kentucky,6,5
12,"Feb. 8, 2019","Tampa, FL",Arizona,Michigan,2,1
13,"Feb. 8, 2019","Fort Myers, FL",Penn State,Ball State,10,2
14,"Feb. 8, 2019","Orlando, FL",Ohio State,Ole Miss,4,2
15,"Feb. 8, 2019","Macon, GA",Mercer,Rutgers,2,1
16,"Feb. 8, 2019","Fullerton, CA",Northwestern,Pacific,7,0
17,"Feb. 8, 2019","Charleston, SC",Col. of Charleston,Purdue,8,4
18,"Feb. 8, 2019","Troy, AL",Troy,Maryland,4,3
19,"Feb. 8, 2019","Baton Rouge, LA",LSU,Iowa,9,0
20,"Feb. 8, 2019","Miami, FL",UConn,Michigan State,3,2
21,"Feb. 8, 2019","Orlando, FL",Minnesota,North Florida,13,0
22,"Feb. 8, 2019","Charleston, SC",Purdue,Pittsburgh,13,9
23,"Feb. 8, 2019","Houston, TX",Nebraska,Lamar,14,2
24,"Feb. 8, 2019","Fort Myers, FL",FGCU,Penn State,2,1
25,"Feb. 8, 2019","Miami, FL",Michigan State,Fla. International,5,0
26,"Feb. 8, 2019","Orlando, FL",Minnesota,UCF,7,0
27,"Feb. 8, 2019","Houston, TX",Texas Tech,Nebraska,15,10
28,"Feb. 9, 2019","Charleston, SC",Purdue,Central Mich.,11,3
29,"Feb. 9, 2019","Macon, GA",Rutgers,Jacksonville St.,13,5
...,...,...,...,...,...,...
579,"May. 17, 2019","Evanston, IL",Northwestern,Detroit,15,1
580,"May. 17, 2019","Ann Arbor, MI",Michigan,Saint Francis (PA),8,0
581,"May. 17, 2019","Norman, OK.",Wisconsin,Notre Dame,4,2
582,"May. 17, 2019","Minneapolis, MN",Minnesota,North Dakota St.,3,0
583,"May. 18, 2019","Ames, Iowa",Purdue,Eastern Ky.,3,1
584,"May. 18, 2019","Ann Arbor, MI",Michigan,James Madison,1,0
585,"May. 18, 2019","Knoxville, TN",Tennessee,Ohio State,12,4
586,"May. 18, 2019","Ames, Iowa",Purdue,South Dakota St.,4,1
587,"May. 18, 2019","Evanston, IL",Louisville,Northwestern,2,1
588,"May. 18, 2019","Lexington, KY",Illinois,Toledo,2,0
589,"May. 18, 2019","Ames, IA",Iowa St.,Purdue,5,3
590,"May. 18, 2019","Minneapolis, MN",Minnesota,Georgia,2,1
591,"May. 18, 2019","Madison, WI",Oklahoma,Wisconsin,4,0
592,"May. 18, 2019","Lexington, KY",Virginia Tech,Illinois,5,1
593,"May. 18, 2019","Knoxville, TN",North Carolina,Ohio State,5,3
594,"May. 18, 2019","Norman, OK.",Wisconsin,Notre Dame,5,4
595,"May. 18, 2019","Evanston, Ill.",Northwestern,Southern Ill.,8,1
596,"May. 19, 2019","Louisville, KY",Northwestern,Louisville,7,0
597,"May. 19, 2019","Norman, OK",Wisconsin,Oklahoma,2,1
598,"May. 19, 2019","Madison, WI",Oklahoma,Wisconsin,2,0
599,"May. 19, 2019","Evanston, IL",Northwestern,Louisville,4,3
600,"May. 20, 2019","Harrisonburg, VA",James Madison,Michigan,3,0
601,"May. 20, 2019","Minneapolis, MN",Minnesota,Georgia,8,1
602,"May. 20, 2019","Ann Arbor, MI",James Madison,Michigan,2,1
603,"May. 24, 2019","Norman, OK",Oklahoma,Northwestern,3,0
604,"May. 24, 2019","Minneapolis, MN",Minnesota,LSU,5,3
605,"May. 25, 2019","Evanston, IL",Oklahoma,Northwestern,8,0
606,"May. 25, 2019","Minneapolis, MN",Minnesota,LSU,3,0
607,"May. 30, 2019","Oklahoma City, OK",UCLA,Minnesota,7,2
608,"Jun. 1, 2019","Oklahoma City, OK",Washington,Minnesota,5,3

# University Database Code

In [8]:
Umich_wiki =pd.read_html('--Umichwiki.html')[0]
Indiana_wiki =pd.read_html('--IndianaUwiki.html')[0]
MSU_wiki =pd.read_html('--Michstatewiki.html')[0]
Northwestern_wiki =pd.read_html('--Northwesternwiki.html')[0]
OSU_wiki =pd.read_html('--Ohiostatewiki.html')[0]
PSU_wiki =pd.read_html('--Pennstatewiki.html')[0]
Purdue_wiki =pd.read_html('--Purduewiki.html')[0]
Rutgers_wiki =pd.read_html('--Rutgerswiki.html')[1]
Uill_wiki =pd.read_html('--Uillinoiswiki.html')[0]
Uiowa_wiki =pd.read_html('--Uiowawiki.html')[0]
Uminn_wiki =pd.read_html('--Uminnesotawiki.html')[0]
Umaryland_wiki = pd.read_html('--Umarylandwiki.html')[1]
Unebraska_wiki =pd.read_html('--Unebraskawiki.html')[0]
Uwisco_wiki =pd.read_html('--Uwiscowiki.html')[0]

lst = [Umich_wiki, OSU_wiki, Unebraska_wiki, PSU_wiki,  Uiowa_wiki, MSU_wiki, Uminn_wiki, Northwestern_wiki,
               Purdue_wiki, Uwisco_wiki, Umaryland_wiki, Rutgers_wiki, Indiana_wiki, Uill_wiki]

In [9]:
Schools = pd.read_csv('School_YE.csv')
Schools.rename(columns={"2017-2018": "2017-2018 Enrollment",
                        "2018-2019": "2018-2019 Enrollment",
                        "2019-2020": "2019-2020 Enrollment",
                        "2020-2021": "2020-2021 Enrollment"}, inplace=True)

Schools.head(2)

,Institution,Location,2017-2018 Enrollment,2018-2019 Enrollment,2019-2020 Enrollment,2020-2021 Enrollment
0,University of Michigan,"Ann Arbor, Michigan","46,002.00","46,716.00","48,090.00","47,907.00"
1,Ohio State University,"Columbus, Ohio","59,837.00","61,170.00","68,262.00","67,957.00"

In [10]:
import geopandas
import geopy
from geopy.geocoders import Nominatim

locator = Nominatim(user_agent = "myGeocoder")

def lat(address):
    if locator.geocode(address) != None:
        addy = locator.geocode(address)
        lat = "{}".format(addy.latitude)
        return lat
    else:
        return None

def long(address):
    if locator.geocode(address) != None:
        addy2 = locator.geocode(address)
        long = "{}".format(addy2.longitude)
        return long
    else:
        return None
    
Schools['Lat'] = Schools['Institution'].apply(lat)
Schools['Long'] = Schools['Institution'].apply(long)

In [11]:
import re


wiki_dict = {}
for i, school in enumerate(list(Schools["Institution"])):
    wiki_dict[school] = lst[i]

def reg_finder(lst):
    colors = []
    endows = []
    estabs = []
    for name in lst:
        wiki = wiki_dict[name]
        colors_raw = wiki.loc[wiki[0] == 'Colors'][1].iloc[0]
        endow_raw = wiki.loc[wiki[0] == 'Endowment'][1].iloc[0]
        estab_raw = wiki.loc[wiki[0] == 'Established'][1].iloc[0]
        colors_reg = r'(.+)\['
        endow_reg = r'(.+)\s\('
        estab_reg = r'(.+);'
        color = re.search(colors_reg, colors_raw)[0][:-1]
        endow = re.search(endow_reg, endow_raw)[0][:-2]
        estab = re.search(estab_reg, estab_raw)[0][:-1]
        if name == 'Pennsylvania State University':
            endow = endow[:13]
        colors.append(color)
        endows.append(endow)
        estabs.append(estab)   
    return (colors, endows, estabs)


Schools['Colors'] = reg_finder(list(Schools['Institution']))[0]
Schools['Endowment'] = reg_finder(list(Schools['Institution']))[1]
Schools['Established'] = reg_finder(list(Schools['Institution']))[2]

In [12]:
uni_df = Schools.rename({"2017-2018": "2017-2018 Enrollment", "2018-2019": "2018-2019 Enrollment",
                "2019-2020": "2019-2020 Enrollment", "2020-2021": "2020-2021 Enrollment"}, axis = 'columns')

In [14]:
uni_df

,Institution,Location,2017-2018 Enrollment,2018-2019 Enrollment,2019-2020 Enrollment,2020-2021 Enrollment,Lat,Long,Colors,Endowment,Established
0,University of Michigan,"Ann Arbor, Michigan","46,002.00","46,716.00","48,090.00","47,907.00",42.2942142,-83.71003893509601,Maize and Blue,$12.44 billion,"August 26, 1817"
1,Ohio State University,"Columbus, Ohio","59,837.00","61,170.00","68,262.00","67,957.00",40.00570905,-83.02866259769122,Scarlet and gray,$5.26 billion,1870
2,University of Nebraska,"Lincoln, Nebraska","26,079.00","25,820.00","25,332.00","25,057.00",40.8229219,-96.70405844999999,Scarlet and cream,$1.435 billion,"February 15, 1869"
3,Pennsylvania State University,"State College, Pennsylvania","98,783.00","97,136.00","96,408.00","89,145.00",40.81107215,-77.87708333635423,Nittany Navy and White Out,$4.55 billion,1855
4,University of Iowa,"Iowa City, Iowa","33,564.00","32,948.00","31,240.00","30,448.00",41.6658499,-91.57310735077672,Black and Gold,$1.58 billion,1847
5,Michigan State University,"East Lansing, Michigan","50,019.00","50,351.00","49,809.00","49,695.00",42.7192043,-84.47791987346606,Green and white,$3.03 billion,"February 12, 1855"
6,University of Minnesota,"Minneapolis-St. Paul, Minnesota","67,949.00","66,880.00","67,024.00","66,793.00",44.97308605,-93.23708812629405,Maroon and Gold,$3.95 billion,1851
7,Northwestern University,"Evanston, Illinois","22,019.00","22,137.00","22,453.00","21,946.00",42.0551164,-87.67581113482166,Purple and white,$11.1 billion,"January 28, 1851"
8,Purdue University,"West Lafayette, Indiana",31006?,"43,411.00","44,551.00","46,114.00",40.430067050000005,-86.92470981568584,Old Gold and Black,$2.63 billion,"May 6, 1869"
9,University of Wisconsin,"Madison, Wisconsin","42,977.00","43,450.00","44,116.00","45,537.00",44.8519784,-92.6167556,Cardinal and white,$3.15 billion,1848
10,University of Maryland,"College Park, Maryland","40,521.00","41,200.00","40,743.00","30,511.00",38.99203005,-76.94610290199051,"Red, white, gold, black",$355.3 million,"March 6, 1856"
11,Rutgers University,"New Brunswick–Piscataway, New Jersey","69,198.00","70,876.00","71,011.00","68,942.00",40.500075949999996,-74.4457915242934,Scarlet,$1.220 billion,"November 10, 1766"
12,Indiana University,"Bloomington, Indiana","91,515.00","90,028.00","90,754.00","90,090.00",39.170121800000004,-86.52609779880657,Cream and Crimson,$2.49 billion,"January 20, 1820"
13,University of Illinois,"Champaign-Urbana, Illinois","47,826.00","49,251.00","51,196.00","52,331.00",40.1410575,-88.2552018,Orange and Blue,$2.35 billion,1867

# Football Database Code

In [ ]:
#Enter intial reading code here

In [31]:
FB_Match =pd.read_html('--MFootBall_MATCHES.html')
lst = FB_Match
cleaned_list = lst[48:][0]

def home_team(row):
    home_team_name = row['Result'].split(',')[0]
    content = '\*{0,1}\s{0,1}([a-zA-Z]{0,20}\s{0,1}[a-zA-Z]{0,20})'
    home_team = re.findall(content, home_team_name)[0]
    return home_team
   
def away_team(row):
    home_team_name = row['Result'].split(',')[1]
    content = '\*{0,1}\s{0,1}([a-zA-Z]{0,20}\s{0,1}[a-zA-Z]{0,20})'
    away_team = re.findall(content, home_team_name)[0]
    return away_team

def away_team_score(row):
    home_team_name = row['Result'].split(',')[1]
    content = '\d+'
    away_team_score = re.findall(content, home_team_name)[0]
    return away_team_score
   
def home_team_score(row):
    home_team_name = row['Result'].split(',')[0]
    content = '\d+'
    home_team_score = re.findall(content, home_team_name)[0]
    return home_team_score

def winner(row):
    if(row['away_team_score'] > row['home_team_score']):
        return row['away_team']
    elif(row['away_team_score'] < row['home_team_score']):
        return row['home_team']
    else:
        return 'Tie'
   
   
cleaned_list['home_team'] = cleaned_list.apply(home_team, axis=1)
cleaned_list['home_team_score'] = cleaned_list.apply(home_team_score, axis=1)
cleaned_list['away_team'] = cleaned_list.apply(away_team, axis=1)
cleaned_list['away_team_score'] = cleaned_list.apply(away_team_score, axis=1)
cleaned_list['Winner'] = cleaned_list.apply(winner, axis=1)

In [32]:
footB_df = cleaned_list.drop('Result',axis=1)
footB_df # enable Scrolling options

,Date,Location,home_team,home_team_score,away_team,away_team_score,Winner
0,08/29/2019 8/29,"Minneapolis, Minn.",Minnesota,28,South Dakota,21,Minnesota
1,08/30/2019 8/30,"East Lansing, Mich.",Michigan State,28,Tulsa,7,Tulsa
2,08/30/2019 8/30,"Piscataway, N.J.",Rutgers,48,Massachusetts,21,Rutgers
3,08/30/2019 8/30,"Reno, Nevada",Purdue,31,Nevada,34,Nevada
4,08/30/2019 8/30,"Tampa, Fla.",Wisconsin,49,USF,0,Wisconsin
5,08/31/2019 8/31,"Champaign, Ill.",Illinois,3,Minnesota,42,Minnesota
6,08/31/2019 8/31,"College Park, Md.",Maryland,79,Howard,0,Maryland
7,08/31/2019 8/31,"Lincoln, Neb.",Nebraska,35,South Alabama,21,Nebraska
8,08/31/2019 8/31,"Stanford, Calif.",Northwestern,7,Stanford,17,Northwestern
9,08/31/2019 8/31,"University Park, Pa.",Penn State,79,Idaho,7,Penn State
10,08/31/2019 8/31,"Ann Arbor, MI",Michigan,40,Middle Tennessee,21,Michigan
11,08/31/2019 8/31,"Indianapolis, IN",Indiana,34,Ball State,24,Indiana
12,08/31/2019 8/31,"Iowa City, Iowa",Iowa,38,MIAMI,14,Iowa
13,09/07/2019 9/7,"East Hartford, Conn.",Illinois,31,Minnesota,23,Illinois
14,09/07/2019 9/7,"East Lansing, Mich.",Michigan State,51,Western Michigan,17,Michigan State
15,09/07/2019 9/7,"Iowa City, Iowa",Rutgers,0,Iowa,30,Iowa
16,09/07/2019 9/7,"College Park, Md.",Maryland,20,UMD,63,UMD
17,09/07/2019 9/7,"University Park, Pa.",Penn State,45,Buffalo,13,Penn State
18,09/07/2019 9/7,"Ann Arbor, MI",Michigan,24,ARMY,21,Michigan
19,09/07/2019 9/7,"West Lafayette, Ind.",Purdue,42,Vanderbilt,24,Purdue
20,09/07/2019 9/7,"Bloomington, IN",Indiana,52,Eastern Illinois,0,Indiana
21,09/07/2019 9/7,"Madison, Wis",Wisconsin,61,Central Michigan,0,Wisconsin
22,09/07/2019 9/7,"Fresno, CA",Minnesota,38,Fresno State,35,Minnesota
23,09/14/2019 9/14,"Champaign, Ill.",Illinois,34,Minnesota,31,Illinois
24,09/14/2019 9/14,"East Lansing, Mich.",Michigan State,7,Arizona State,10,Michigan State
25,09/14/2019 9/14,"Philadelphia,Pa.",Maryland,17,Purdue,20,Purdue
26,09/14/2019 9/14,"Lincoln, Neb.",Nebraska,44,Northern Illinois,8,Northern Illinois
27,09/14/2019 9/14,"Evanston, Ill.",Northwestern,30,UNLV,14,Northwestern
28,09/14/2019 9/14,"University Park, Pa.",Penn State,17,Pittsburgh,10,Penn State
29,09/14/2019 9/14,"West Lafayette, Ind.",Purdue,13,TCU,34,TCU
...,...,...,...,...,...,...,...
80,11/09/2019 11/9,"Madison, Wis",Iowa,22,Wisconsin,24,Wisconsin
81,11/16/2019 11/16,"Ann Arbor, MI",Michigan State,10,Michigan,44,Michigan
82,11/16/2019 11/16,"Piscataway, N.J.",Rutgers,21,Ohio State,56,Ohio State
83,11/16/2019 11/16,"Lincoln, Neb.",Nebraska,21,Wisconsin,37,Wisconsin
84,11/16/2019 11/16,"Evanston, Ill.",Northwestern,45,UMass,6,UMass
85,11/16/2019 11/16,"University Park, Pa.",Penn State,34,Indiana,27,Penn State
86,11/16/2019 11/16,"Iowa City, Iowa",Iowa,23,Minnesota,19,Iowa
87,11/23/2019 11/23,"Iowa City, Iowa",Illinois,10,Iowa,19,Iowa
88,11/23/2019 11/23,"Piscataway, N.J.",Michigan State,27,Rutgers,0,Michigan State
89,11/23/2019 11/23,"College Park, Md.",Maryland,7,Nebraska,54,Maryland
90,11/23/2019 11/23,"Evanston, Ill.",Northwestern,22,Minnesota,38,Minnesota
91,11/23/2019 11/23,"Columbus, Ohio",Penn State,17,Ohio State,28,Ohio State
92,11/23/2019 11/23,"Bloomington, IN",Michigan,39,Indiana,14,Michigan
93,11/23/2019 11/23,"Madison, Wis",Purdue,24,Wisconsin,45,Wisconsin
94,11/29/2019 11/29,"Lincoln, Neb.",Nebraska,24,Iowa,27,Iowa
95,11/30/2019 11/30,"Champaign, Ill.",Illinois,10,Northwestern,29,Northwestern
96,11/30/2019 11/30,"East Lansing, Mich.",Michigan State,19,Maryland,16,Michigan State
97,11/30/2019 11/30,"University Park, Pa.",Rutgers,6,Penn State,27,Rutgers
98,11/30/2019 11/30,"Ann Arbor, MI",Michigan,27,Ohio State,56,Ohio State
99,11/30/2019 11/30,"West Lafayette, Ind.",Purdue,41,Indiana,44,Indiana
100,11/30/2019 11/30,"Minneapolis, Minn.",Wisconsin,38,Minnesota,17,Wisconsin
101,12/07/2019 12/7,"Indianapolis, IN",Wisconsin,21,Ohio State,34,Ohio State
102,12/27/2019 12/27,"Bronx, NY",Michigan State,27,Wake Forest,21,Michigan State
103,12/27/2019 12/27,"San Diego, Calif.",Iowa,49,USC,24,Iowa
104,12/28/2019 12/28,"Arlington, Texas",Penn State,53,MEM,39,Penn State
105,12/30/2019 12/30,"Santa Clara, Calif.",Illinois,20,California,35,California
106,01/01/2020 1/1,"Orlando, Fla.",Michigan,16,Alabama,35,Alabama
107,01/01/2020 1/1,"Pasadena, California",Wisconsin,27,Oregon,28,Oregon
108,01/01/2020 1/1,"Tampa, Fla.",Minnesota,31,Auburn,24,Minnesota
109,01/02/2020 1/2,"Jacksonville, FL",Indiana,22,TENNESSEE,23,TENNESSEE

# Plays

In [33]:
from bs4 import BeautifulSoup
import requests



soup = BeautifulSoup(open("espn_data.html"), "html.parser")

lst = []

for item in soup.find_all('a', {'href': re.compile(r'boxscore')}):
    #Finds all links in the first page
    boxscore_html = 'https://' + item['href'][2:]
    
    #Opens links using requests
    r = requests.get(boxscore_html)
    soup2 = BeautifulSoup(r.text, "html.parser")
    
    #Finds all links in second page (where the boxscores are)
    for a in soup2.find_all('a', {'href': re.compile(r'/college-football/game/')}):
        link = 'https://www.espn.com' + a['href']
        
        #Opens links using requests, then setting the requests.text to a dataframe
        r_link = requests.get(link)
        html_read = pd.read_html(r_link.text)
        lst.append(html_read)

#Each dataframe that we want is at position 3, then we drop/ mask unnecessary columns and clean the data so that it is readable in the dataframe

In [34]:
final_lst = []

In [35]:
for df in lst:
    plays = df[3]
    plays = plays.drop(plays.columns[[0,-1]], axis=1)
    plays = plays.rename(columns = {plays.columns[0]: "Scoring Play"})
    plays = plays[(plays['Scoring Play']!= 'second Quarter') & (plays['Scoring Play']!= 'third Quarter') & (plays['Scoring Play']!= 'fourth Quarter')]
    plays['Time'] = plays['Scoring Play'].str.extract(r'(\d{1,2}\:\d{1,2})', expand=True)
    plays['Type of Score'] = plays['Scoring Play'].str.extract(r'(TD|FG|SF)', expand=True)
    plays['Scoring Play'] = plays['Scoring Play'].str.replace(r'TD', '')
    plays['Scoring Play'] = plays['Scoring Play'].str.replace(r'SF', '')
    plays['Scoring Play'] = plays['Scoring Play'].str.replace(r'FG', '')
    plays['Scoring Play'] = plays['Scoring Play'].str.replace(r'\d{1,2}\:\d{1,2}', '')
    plays['Scoring Player'] = plays['Scoring Play'].str.extract(r'^(.*?)\d', expand=True)
    plays = plays[[plays.columns[3],plays.columns[4],plays.columns[5],plays.columns[0],plays.columns[1],plays.columns[2]]]
    final_lst.append(plays)

In [36]:
final_lst[1]

,Time,Type of Score,Scoring Player,Scoring Play,TLSA,MSU
0,11:41,TD,Connor Heyward,Connor Heyward 15 Yd pass from Brian Lewerke (...,0,7
2,14:03,FG,Matt Coghlin,"Matt Coghlin 38 Yd Field Goal4 plays, 4 yards,",0,10
3,9:59,FG,Matt Coghlin,"Matt Coghlin 47 Yd Field Goal7 plays, -8 yards,",0,13
4,9:09,SF,Team Safety,"Team Safety2 plays, -19 yards,",0,15
5,4:49,TD,Kenny Willekes,Kenny Willekes 0 Yd Fumble Return (Matt Coghli...,0,22
6,2:32,FG,Matt Coghlin,"Matt Coghlin 44 Yd Field Goal4 plays, 4 yards,",0,25
7,0:36,TD,Sam Crawford Jr.,Sam Crawford Jr. 28 Yd pass from Zach Smith (J...,7,25
9,2:20,FG,Matt Coghlin,"Matt Coghlin 40 Yd Field Goal17 plays, 73 yards,",7,28

# SQL setup Code

In [37]:
%load_ext sql
%sql postgresql://jovyan:si330studentuser@localhost/si330

'Connected: jovyan@si330'

In [38]:
%%sql
CREATE TABLE "Plays" (
  "Sport_Name" varchar(255),
  "Team_Scored" varchar(255),
  "Player_Scored" varchar(255),
  "Quarter" varchar(255),
  "Time" varchar(255),
  "Location" varchar(255)
);

CREATE INDEX "Primary Key" ON  "Plays" ("Sport_Name");

CREATE INDEX "Foreign Key" ON  "Plays" ("Team_Scored", "Player_Scored", "Quarter", "Time", "Location");

CREATE TABLE "Universities" (
  "School_Name" varchar(255),
  "State" varchar(255),
  "Geo-coordinates" varchar(255),
  "Established" int,
  "Enrollment" int,
  "Endowment" varchar(255),
  "Colors" varchar(255)
);

CREATE INDEX "Primary Key" ON  "Universities" ("School_Name");

CREATE INDEX "Foreign Key" ON  "Universities" ("State", "Geo-coordinates", "Established", "Enrollment", "Endowment", "Colors");

CREATE TABLE "Matches" (
  "Sport_Name" varchar(255),
  "Home_Team_Name" varchar(255),
  "Away_Team_Name" varchar(255),
  "Location" varchar(255),
  "Date" varchar(255),
  "Result" varchar(255)
);

CREATE INDEX "Primary Key" ON  "Matches" ("Sport_Name");

CREATE INDEX "Foreign Key" ON  "Matches" ("Home_Team_Name", "Away_Team_Name", "Location", "Date", "Result");

 * postgresql://jovyan:***@localhost/si330
(psycopg2.errors.DuplicateTable) relation "Plays" already exists

[SQL: CREATE TABLE "Plays" (
  "Sport_Name" varchar(255),
  "Team_Scored" varchar(255),
  "Player_Scored" varchar(255),
  "Quarter" varchar(255),
  "Time" varchar(255),
  "Location" varchar(255)
);]
(Background on this error at: http://sqlalche.me/e/13/f405)

## Question 2 - 15%
For Football, calculate the average number of points per match per team

In [42]:
ht = footB_df.set_index(['Date','Location'])

In [104]:
away_team = ht[['away_team','away_team_score']].reset_index().drop(['Date','Location'], axis=1)
away_team['away_team_score']=away_team.away_team_score.astype('int64')
x = away_team.groupby('away_team').mean().reset_index()
x=x.rename(columns={'away_team':'Team'})
home_team = ht[['home_team','home_team_score']].reset_index().drop(['Date','Location'], axis=1)
home_team['home_team_score']=home_team.home_team_score.astype('int64')
y = home_team.groupby('home_team').mean().reset_index()
y = y.rename(columns={'home_team':'Team'})

In [111]:
big10_scores = x.merge(y) #this drops the nans aka non big 10 teams and merges

In [122]:
big10_scores['Total_score']= (big10_scores['away_team_score']+big10_scores["home_team_score"])/2

In [125]:
FB_sorted_means = big10_scores.drop(['away_team_score','home_team_score'],axis=1).sort_values(by=['Total_score'], ascending = False)
#raise NotImplementedError()
FB_sorted_means.head(3)

          Team  Total_score
8   Penn State    36.550000
6    Nebraska     35.611111
11  Wisconsin     34.071429

## Question 3 - 15%
Which university has the highest combined rank for the softball and football pair? A university is ranked 1 if they have the highest number of wins to losses (count ties as both ranked the same), ranked 2 if they have the second highest win to loss ratio and so forth. The combined rank is equivilent to the universities rank in both sports added together after they have been normalized based on the number of teams available.

## use the FB_sorted_means and create a similar function for the sofball, 
## merge and sort by both the total foobal score and total softball score and it should sort them together.

In [ ]:
# YOUR CODE HERE

raise NotImplementedError()

## Question 4 - 20%
Is bigger better? Calculate the correlation between the rank of number of students at the institution and the rank of the football team. Does having more students increase chances of success?

Fee free to use Kendall's $\tau$ for this using [https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kendalltau.html]

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()